.question-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-text-container {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin: auto;
    padding: 2.5rem 0;
}

.question {
    text-align: center;
    padding: 1rem;
}
