.starting-page-subtitle {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0);
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    z-index: 11;
}

.starting-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.starting-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 10rem;
}

.starting-page h2 span {
  font-size: 2.25rem;
}

.start-button {
  /* margin-bottom: 4rem; */
  background: linear-gradient(to top left, rgb(181, 177, 238), rgb(255, 255, 255));
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 0.4rem;
  width: 80%;
  border: none;
  border-bottom: 3px solid rgb(129, 149, 240);
  cursor: pointer;
  font-size: 1.4rem;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
